.view-advantage-view{
    background-color: #f7f7f7;
    .views-view-grid{
        margin: 51px;
    }
}

.views-col{
    position: relative;
    padding: 35px 0 35px p;
}
.views-field-field-title{
    position: absolute;
    top: 31px;
    left: 135px;
    font-size: 20px;
    color: #66ab36;
    text-transform: uppercase;
    font-family: Montserrat, sans-serif ;
}
.views-field-field-desscript{
    padding-left: 118px;
    letter-spacing: 0 34px;
    font-family: Poboto, sans-serif;
    font-size: 17px;
}
.paragraph--type--view-paragraph{
.field--name-field-heading{
    text-align: center;
    font-size: 38px;
    font-weight: 700;
    color: #3a3a3a;
}
}
